.register {
  margin: 60px auto auto;
  top: 0px;
  border-radius: 10px;
  font-family: "Inter", "sans serif";
  max-width: 358px;
  color: white;
}

.register__welcome {
  font-size: 29px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 60px;
}

.register__info {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
}
.register__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  background-color: black;
  border: none;
  width: 358px;
  display: flex;
}

.register__divider {
  border: 1px solid white;
  display: block;
  margin-bottom: 30px;
}

.register__link {
  margin-top: 216px;
  font-size: 22px;
  width: 358px;
  height: 50px;
  border: none;
  border-radius: 2%;
  cursor: pointer;
}

.register__signin {
  color: white;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.register__login-link {
  color: white;
  margin-left: 10px;
  text-decoration-line: none;
}

.header__register {
  color: white;
  text-decoration-line: none;
}
